@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

/* STYLES BY ID */

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    padding: 5px;
}

#header {
    height: 90px;
    background: #76d6e6;
    border-radius: 10px;
    /* border: 1px solid #0deb0d; */
    border: 1px solid #1fb8eb;
    margin: 5px;
    padding: 5px;
    display: flex;
}

#contentwrap {
    width: 850px;
    float: left;
    margin: 0 auto;
}

#content {
    font-size: 1.25em;
    background: #313c65;
    color: aliceblue;
    border-radius: 10px;
    /* border: 1px solid #ebebeb; */
    border: 1px solid #1fb8eb;
    margin: 5px;
    padding: 10px;
    -webkit-box-shadow: 9px 14px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 14px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 14px 5px 0px rgba(0,0,0,0.75);
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
    background: #313c65;
    color: aliceblue;
    border-radius: 10px;
    border: 1px solid #1fb8eb;
    margin: 5px;
    padding: 5px 5px;
}

#deleteAnswer {
  color: red;
}

/*  TAG STYLES */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #e9ecef;
    background-color: #1e1d23;
}
p {
    padding: 10px;
}

h1,h2 {
  font-family: 'Audiowide', cursive;
}

h1{
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #004077;
}

h2{
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 2em;
}

h4{
  font-size: 1.5em;
  text-align: center;
}

label {
  font-size: 1.5em;
  padding: 2px;
}

form * {
  padding: 5px;
}

input[type='radio'] {
  margin-right: 5px;
  margin-top: 5px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* CLASS STYLES */

.pollLink {
  background-color: aquamarine;
  color: #313c65;
  font-weight: bold;
  padding: 1px 2px;
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: center;
}
.pollLink:hover {
  background-color: #00f7bd;
  color: #1d32d2;
  cursor: pointer;
}

.txtBoxMed {
  width: 60%;
  border-radius: 5px;
  text-align: center;
}

.txtBoxSmall {
  width: 30%;
  border-radius: 5px;
  text-align: center;
}

/* BAR GRAPH STYLES */
.barContainer {
  width: 100%;
  background-color: #88878aa1;
  padding: 4px;
  margin: 5px 20px;
}

.resultBar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.answer1 { background-color: #4CAF50;}
.answer2 { background-color: #2196F3;}
.answer3 { background-color: #f44336;}
.answer4 { background-color: #808080;}
.answer5 { background-color: #208090;}
.answer6 { background-color: #222085;}
