@import url("reset.css");


/* STYLES BY ID */

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#header {
    height: 75px;
    background: #21FF21;
    border-radius: 10px;
    border: 1px solid #0deb0d;
    margin: 5px;
}

#contentwrap {
    width: 850px;
    float: left;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
    background: #33CCFF;
    border-radius: 10px;
    border: 1px solid #1fb8eb;
    margin: 5px;
    padding: 1px 5px;
}

/*  TAG STYLES */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

h1{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 2em;
}

h4{
  font-size: 1.5em;
  text-align: center;
}

/* CLASS STYLES */

.pollLink {
  background-color: aquamarine;
  font-weight: bold;
  padding: 1px 2px;
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: center;
}
.pollLink:hover {
  background-color: #00f7bd;
  cursor: pointer;
}

.txtBoxMed {
  width: 60%;
  border-radius: 5px;
  text-align: center;
}

.txtBoxSmall {
  width: 30%;
  border-radius: 5px;
  text-align: center;
}
